.road__mobile-image {
  display: none
}




@media screen and (max-width: 1024px) {
  .road__mobile-image {
    display: grid;
    margin: 0 10px 0 auto;
    background-image: url(../../../images/road_s.jpg);
    background-size: 100% 100%;
    width: 254px;
    height: 348px;
  }
}