.highway__galery {

  display: grid;
  grid-template-columns: 650px 650px;
  grid-template-rows: 400px;
  grid-column-gap: 40px;

  overflow: hidden;

  position: relative;
}

@media screen and (max-width: 1050px) {
  .highway__galery {
    grid-template-columns: 284px;
    grid-template-rows: 175px;
    grid-column-gap: 0px;
    order: 1;
  }
}