.quote__blockquote {
  margin: 0 0 auto auto;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;

  letter-spacing: -0.5px;

  color: #ffffff;
}

@media screen and (max-width: 1440px) {
  .quote__blockquote {
    font-size: 23px;
    line-height: 29px;
    margin-left: 18px;
  }
}