.quote__image {
  width: 650px;
  height: 460px;
  background-image: url(../../../images/quote.jpg);

  grid-row: 1 / 3;
}


@media screen and (max-width: 1440px) {
  .quote__image {
    background-size: cover;
    width: 284px;
    height: 204px;
  }
}

@media screen and (max-width: 1024px) {
  .quote__image {
    width: 284px;
    height: 204px;
    grid-row: 1 / 2;
    margin-bottom: 40px;
    justify-self: center;
    margin: 0 auto;
  }
}


@media screen and (max-width: 760px) {
  .quote__image {
    grid-template-columns: 320px;
    grid-column-gap: 40px;
    margin: 0 auto;
  }
}