.workout__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
}

.workout__link:hover {
    opacity: 0.75;
}

@media (max-width: 768px) {
    .workout__link {
        font-size: 14px;
        line-height: 1.43;
    }
}