.road__bike-fix {
  width: 440px;
  height: 300px;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: url(../../../images/bicke.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 340px 260px;
  position: sticky;
  top: 347px;
}

@media screen and (max-width: 1440px) {
  .road__bike-fix {
    width: 234px;
    height: 160px;
    background-size: 180px 139px;

  }
}