.bicycle__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -0.5px;     
    color: #FFFFFF;
}

@media (max-width: 768px) {
.bicycle__title {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 40px;
}}