.bicycle__image {
    background-color: #F4F4F4;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 22px;
}

@media (max-width: 768px) {
    .bicycle__image {
        height: 269px;
        padding: 15px 15px 0 15px;
        margin-bottom: 3px;
    }
}