.highway__button_place_left {
  background-image: url(../../../../images/scroll-left.svg);
  margin-right: 20px;
}

@media screen and (max-width: 1050px) {
  .highway__button_place_left {
    background-size: 4.5px 10px;
  }
}