.header__nav-mobile {
    visibility: hidden;
    cursor: pointer;

}

@media screen and (max-width: 1024px) {
    .header__nav-mobile {
        visibility: visible;

        margin: 36px 0 30px 275px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
    }
}