.header__nav-header {
    width: 1440px;
    margin: auto;
}


@media screen and (max-width: 1024px) {
    .header__nav-header {
        display: none;
    }
}


@media screen and (max-width: 1440px) {
    .header__nav-header {

        width: 1024px;
    }
}