.road__title {
  margin: 80px auto 50px 0px;
  max-width: 460px;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;

  color: #FFFFFF;
}



@media screen and (max-width: 1024px) {
  .road__title {
    margin: 40px auto 40px 18px;
    max-width: 284px;
    font-size: 32px;
    line-height: 40px;

  }
}